@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    height: 75px;
    background-color: white;
    border: 1px white solid;
    box-shadow: 0 2px 4px 0 black, 0 2px 10px 0 black;
    z-index: 100;
}
.mobilediv{
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.naviconsmain{
    display: flex;
    flex-direction: row;
}
.naviconlabel{
    margin-top: 15px;
}

.logo{
    font-size: 30px;
    color: black;
}

.nav-li{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 75%;
}

.links{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.links:hover{
    font-size: 100%;
}

.mobile-menu-icon{
    display: none;
}

.tabs{
    font-size: 20px;
}

.map-container{
    width: 100%;
    height: 50vh;
}
.mapaddress{
    margin: 20px;
    margin-top: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}

.loadingpage{
    width: 50px;
}

@media screen and (max-width:780px) {
    .pic{
        height: 400px;
        max-width: 350px;
        padding: 20px;
        border-radius: 25px;
    }
    .mobilediv{
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    .detailedpic{
        max-height: 350px;
        max-width: 350px;
        padding: 10px;
        border-radius: 25px;
    }
    .container{
        height: 470px;
        border: 0px solid black;
        border-radius: 15px;
        margin: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    .log0{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav-li{
        display: none;
    }
    .nav-links-mobile{
        position: absolute;
        display:block;
        list-style: none;
        background-color: white;
        left: 0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 60%;
        border: 1px rgb(119, 231, 109) solid;
        border-radius: 15px;
        margin-left: 20% ;
        margin-right: 20%;
    }
    .links{
        color: black;
        border-radius: 15px;
        text-align: center;
        padding: 15px;
        width: 100%;
        transition: all 0.5s ease;
    }
    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 30px;
        color: black;
        background-color: white;
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
    }
    .close-style{
        width: 15px;
    }
    .menu-style{
        width: 15px;
    }
}









.homewo{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.homewoboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pic{
    height: 400px;
    padding: 20px;
    border-radius: 25px;
    z-index: -1;
}
.pic:hover{
    z-index: -1;
}


.details{
    visibility: hidden;
}

.container{
    height: 470px;
    border: 0px solid black;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.but{
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.linkdetails{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
.detailsbut{
    text-decoration: none;
}
.linkdetails:hover{
    color: white;
}
.but:hover{
    background-color: black;
    color: white;
}
.container:hover{
    border: 0px solid black;
}

.container:hover .linkdetails{
    text-decoration: none;
}

.container:hover .pic{
    animation: bounce 1s;
}

.container:hover .details{
    visibility: visible;
}

@keyframes bounce { 30%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    z-index: -1;
}}



.mainbreak{
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
}

@keyframes fading {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes leng {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
    
}

.firstmain{
    border: 1px rgb(31, 28, 42) solid;
    background-color: rgb(31, 28, 42);
    width: 40%;
    height: 3px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 10%;
    animation: leng 2s ease-out;
}
.secondmain{
    border: 2px red solid;
    background-color: red;
    width: 20%;
    height: 12px;
    border-radius: 15px;
    animation: fading 3s ease-in-out;
}
.thirdmain{
    border: 2px rgb(31, 28, 42) solid;
    background-color: rgb(31, 28, 42);
    width: 40%;
    height: 3px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 10%;
    animation: leng 2s ease-out;
}

.contactname{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid red;
    margin-bottom: 25px;
    
}
.contact_top{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-con{
    text-align: center;
    margin-top: 50px;
}
.top-main-contact{
    margin-bottom: 20px;
}
.left-box{
    border: 2px rgb(31, 28, 42) solid ;
    border-left: 15px rgb(11, 0, 53) solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color:rgb(31, 28, 42);
    color: white;
    
}
.address{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ppcontent{
    text-align: center;
    justify-content: center;
    font-size: 15px;
}
.contactmail{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
    border: 0px rgb(31, 28, 42) solid ;
    border-radius: 25px;
    padding: 20px;
    margin-top: 5px;
    background-color: white;
    color:rgb(31, 28, 42);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submail{
    margin: 5px;
    padding: 10px;
    background-color: rgb(11, 0, 53);
    color: white;
    font-size: 15px;
    width: 200px;
    border-radius: 10px;
}
.conui{
   justify-content: center;
}
.conli{
    list-style: none;
    padding: 8px;
}
.detailedtable{
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }


.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
    width: 250px;
    border: 1px rgb(11, 0, 53) solid;
}

.withloading{
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 250px;
    border-radius: 5px;
    background-color: rgb(11, 0, 53);
    
}
.loadingimage{
    height: 50px;
}
.loadingimageclose{
    display: none;
}
.loadpagetrue{
    height: 100px;
}
.loadpagefalse{
    display: none;
}


label{
    font-size: 14px;
    color: black;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}



@media screen and (max-width:780px){
    .contactmail{
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
        width: 350px;
        border: 0px rgb(31, 28, 42) solid ;
        border-radius: 25px;
        padding: 20px;
        margin-top: 5px;
        background-color: white;
        color:rgb(31, 28, 42);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .coninput{
        border: none;
        border-bottom: 2px rgb(11, 0, 53) solid;
        font-size: 15px;
    }
}

.about_top{
    margin: 50px;
}

.aboutsplit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.about_inner{
    border: 0px solid black;
    width: 700px;
    margin: 20px;
}
.aboutimage{
    border: 0px solid black;
    border-radius: 15px;
    margin: 20px;
    margin-top: 75px;
    height: 500px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.aboutname{
    width: 140px;
    border-bottom: 2px solid red;
    margin-left: auto;
    margin-right: auto;
}
.aboutpic{
    height: 500px;
    border-radius: 15px;
}
.aboutaddmain{
    padding: 20px;
}
.aboutadd{
    padding: 5px;
}




.detailedpic{
    height: 500px;
    border-radius: 15px;
    padding: 10px;
}
.detailedmain{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.detailedfirst{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;

}
.detailedsecond{
    margin: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    max-width: 250px;
    flex-wrap: wrap;
}
.detailedthird{
    
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
}




.main-footer{
    margin-top: 30px;
    border:1px rgba(119,231,109,0.2) solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(119,231,109,0.2), 0 6px 20px 0 rgba(119,231,0.9,0.19);

}
li{
    list-style: none;
}
.footer-one{
    margin: 30px;
    text-align: center;

}
.footer-two{
    margin: 30px;
    text-align: center;

}
.linkstwo{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.social-medias{
    margin: 30px;
    text-align: center;
}
.social-size{
    width: 20px;
    margin: 15px;
}

.phoneinput{
    width: 265px;
    padding-left: 15px;
}