.homewo{
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.homewoboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pic{
    height: 400px;
    padding: 20px;
    border-radius: 25px;
}

.details{
    visibility: hidden;
}

.container{
    height: 470px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 2px 2px 5px black;
}
.but{
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.but:hover{
    background-color: black;
    color: white;
}
.container:hover{
    border: 3px solid black;
}

.container:hover .pic{
    transform: translate(0px, -15px)
}

.container:hover .details{
    visibility: visible;
}



.mainbreak{
    margin-top: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: row;
}

@keyframes fading {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
@keyframes leng {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
    
}

.firstmain{
    border: 1px rgb(31, 28, 42) solid;
    background-color: rgb(31, 28, 42);
    width: 40%;
    height: 3px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 10%;
    animation: leng 2s ease-out;
}
.secondmain{
    border: 2px red solid;
    background-color: red;
    width: 20%;
    height: 12px;
    border-radius: 15px;
    animation: fading 3s ease-in-out;
}
.thirdmain{
    border: 2px rgb(31, 28, 42) solid;
    background-color: rgb(31, 28, 42);
    width: 40%;
    height: 3px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 10%;
    animation: leng 2s ease-out;
}


.main_contact{
    height: 500px;
}

.top-con{
    text-align: center;
    margin-top: 50px;
}
.top-main-contact{
    margin-bottom: 20px;
}
.left-box{
    border: 2px rgb(31, 28, 42) solid ;
    border-left: 15px rgb(11, 0, 53) solid;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color:rgb(31, 28, 42);
    color: white;
    
}
.address{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.ppcontent{
    text-align: center;
    justify-content: center;
    font-size: 15px;
}
.contactmail{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
    border: 2px rgb(31, 28, 42) solid ;
    border-radius: 25px;
    padding: 20px;
    margin-top: 5px;
    background-color: white;
    color:rgb(31, 28, 42);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
}
.submail{
    margin: 5px;
    padding: 5px;
    background-color: rgb(31, 28, 42);
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
.conui{
   justify-content: center;
}
.conli{
    list-style: none;
    padding: 8px;
}
.conlabel{
    padding: 10px;

}
.coninput{
    border: none;
    border-bottom: 2px rgb(11, 0, 53) solid;
    font-size: 20px;
    margin-bottom: 15px;
}

@media screen and (max-width:780px){
    .contactmail{
        margin-left: 50px;
        padding: 15px;
        height: 350px;
        width: 300px;
        border: 2px rgb(31, 28, 42) solid ;
        border-radius: 100px;
        padding: 20px;
        margin-top: 5px;
        background-color: white;
        color:rgb(31, 28, 42);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
    }
    .coninput{
        border: none;
        border-bottom: 2px rgb(11, 0, 53) solid;
        font-size: 15px;
    }
}




.aboutsplit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.about_inner{
    border: 0px solid black;
    width: 700px;
    height: 600px;
    margin: 20px;
}
.aboutimage{
    border: 0px solid black;
    margin: 20px;
    margin-top: 75px;
    height: 500px;
    box-shadow: 2px 2px 10px black;
}

.aboutname{
    width: 140px;
    border-bottom: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}
.aboutpic{
    height: 500px;
}
.aboutaddmain{
    padding: 20px;
    margin-top: 100px;
}
.aboutadd{
    padding: 5px;
}






